@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// === fonts ===
@import "fonts";

// === Base ===
@import "base/index";

// === Libs ===
@import "libs/index";

// === Components ===
@import "components/index";

// === Pages ===
@import "sections/index";

.company {
	background: $White url(../img/company/bg.svg) no-repeat center 1900%;

	@media screen and (max-width: 991px) {
		background: $White url(../img/company/bg.svg) no-repeat center top;
	}

	&__about-company {
	}

	// .company__clients
	&__clients {
	}
}

.about-company {
	padding: 70px 0 32px;

	@media screen and (max-width: 991px) {
		padding: 30px 0 0;
	}

	// .about-company__container
	&__container {
		max-width: 829px;
	}

	// .about-company__title
	&__title {
		text-align: center;
		margin-bottom: 67px;

		@media screen and (max-width: 991px) {
			margin-bottom: 40px;
		}
		@media screen and (max-width: 767px) {
			margin-bottom: 30px;
		}
		@media screen and (max-width: 575px) {
			margin-bottom: 20px;
		}
	}

	// .about-company__text
	&__text {
		p {
			margin: 32px 0;
			font-size: 20px;
			line-height: 30px;

			@media screen and (max-width: $layoutDesktop + "px") {
				font-size: calc(14px + 6 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
				line-height: calc(30 / 20);
			}
			@media screen and (max-width: 991px) {
				margin: 25px 0;
			}
			@media screen and (max-width: 767px) {
				margin: 20px 0;
			}
		}
	}
}

.clients {
	padding: 116px 0 102px;

	@media screen and (max-width: 991px) {
		padding: 50px 0;
	}
	@media screen and (max-width: 767px) {
		padding: 20px 0 50px;
	}

	// .clients__container
	&__container {
		max-width: 1026px;
	}

	// .clients__title
	&__title {
		text-align: center;
		margin-bottom: 70px;

		@media screen and (max-width: 991px) {
			margin-bottom: 40px;
		}
		@media screen and (max-width: 767px) {
			margin-bottom: 30px;
		}
		@media screen and (max-width: 575px) {
			margin-bottom: 20px;
		}
	}

	// .clients__cards
	&__cards {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -13px;

		@media screen and (max-width: 991px) {
			margin: 0 -10px;
		}

		.slick {
			&-dots {
				margin-top: 15px;
				flex: 1 1 auto;
				display: flex;
				justify-content: center;

				li {
					padding: 0 7px;
				}

				button {
					font-size: 0;
					line-height: 1;
					background-color: transparent;
					display: block;
					width: 12px;
					height: 12px;
					border: 1px solid $Black;
					border-radius: 50%;
				}
			}

			&-active {
				button {
					background-color: $Black_2;
				}
			}
		}
	}

	// .clients__card
	&__card {
		flex: 0 0 25%;
		padding: 14px 13px;

		@media screen and (max-width: 991px) {
			padding: 10px;
		}
		@media screen and (max-width: 767px) {
			flex: 0 0 33.333%;
		}
		@media screen and (max-width: 575px) {
			padding: 10px 5px;
		}
	}

	// .clients__card-wrapper
	&__card-wrapper {
		background-color: $White;
		box-shadow: 0px 20px 64px rgba(0, 0, 0, 0.09);
		border-radius: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100px;

		@media screen and (max-width: 575px) {
			box-shadow: 0 0px 4px rgba(0, 0, 0, 0.09);
		}
	}

	// .clients__logo
	&__logo {
	}
}
