.trading {
	background: #fff url(../img/shipper/bg.svg) no-repeat center 9%;
	padding-bottom: 135px;

	&__heading {
		max-width: 769px;
		margin: 0 auto 93px;
	}

	&__title {
		margin-bottom: 68px;
	}

	// .trading__text
	&__text {
		font-size: 20px;
		line-height: 30px;

		@media screen and (max-width: $layoutDesktop + "px") {
			font-size: calc(15px + 5 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(30 / 20);
		}
	}
}