.accordion {
    // .accordion__title
    &__title {
        position: relative;
        cursor: pointer;
        transition: 0.3s ease all 0s;

        &::after {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            flex: 0 0 24px;
            margin-left: 20px;
            background: url(../img/icons/plus-circle-black.svg) no-repeat center/cover;
            transition: 0.3s ease all 0s;
        }

        &.active {
            color: $White;

            &::after {
                background: url(../img/icons/plus-circle-white.svg) no-repeat center/cover;
                transform: rotate(45deg);
            }
        }
    }

    // .accordion__text
    &__text {
        display: none;
    }
}
