.icon-star {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background: url("../img/icons/star.svg") center no-repeat;
}

.icon-chart-bar {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background: url("../img/icons/chart-bar.svg") center no-repeat;
}

.icon-cubes {
	display: inline-block;
	vertical-align: middle;
	width: 28px;
	height: 28px;
	background: url("../img/icons/cubes.svg") center no-repeat;
}

.icon-documents-outline {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 33px;
	background: url("../img/icons/documents-outline.svg") center no-repeat;
}

.icon-flag-russia {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url("../img/icons/flag-russia.svg") center no-repeat;
}

.icon-KAN {
	display: inline-block;
	vertical-align: middle;
	width: 78px;
	height: 26px;
	background: url("../img/icons/KAN.svg") center no-repeat;
}

.icon-layers {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background: url("../img/icons/layers.svg") center no-repeat;
}

.icon-math-operations {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background: url("../img/icons/math-operations.svg") center no-repeat;
}

.icon-round-import-export {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background: url("../img/icons/round-import-export.svg") center no-repeat;
}

.icon-ruble {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background: url("../img/icons/ruble.svg") center no-repeat;
}

.icon-settings {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background: url("../img/icons/settings.svg") center no-repeat;
}

.icon-telegram {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	background: url("../img/icons/telegram.svg") center no-repeat;
}

.icon-trending-up {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background: url("../img/icons/trending-up.svg") center no-repeat;
}

.icon-user-add {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background: url("../img/icons/user-add.svg") center no-repeat;
}

.icon-users {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 33px;
	background: url("../img/icons/users.svg") center no-repeat;
}

.icon-verified {
	display: inline-block;
	vertical-align: middle;
	width: 34px;
	height: 34px;
	background: url("../img/icons/verified.svg") center no-repeat;
}

.icon-whatsapp {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	background: url("../img/icons/whatsapp.svg") center no-repeat;
}

.icon-green-cube {
	display: inline-block;
	vertical-align: middle;
	width: 91px;
	height: 106px;
	background: url("../img/icons/cube.svg") center no-repeat;
}