body {
    font-family: $font;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $fontColor;
    overflow-x: hidden;

    &.lock {
        overflow: hidden;
    }
}

.site {
    &__wrap {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        position: relative;
    }

    &__main {
        padding: $size-header-height 0px 0px 0px;
        overflow-x: hidden;

        @media screen and (max-width: 767px) {
            padding: $size-header-height-mobile 0px 0px 0px;
        }
    }

    &__footer {
        margin-top: auto;
    }
}

.container {
    max-width: $size-container;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: 992px) {
        padding: 0 30px;
    }
}

.row {
    display: flex;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.up-btn {
	position: fixed;
	bottom: 32px;
	right: -50px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: rgba($color: $Black, $alpha: 0.8);
	transition: 0.3s ease all 0s;
	opacity: 0;
    visibility: hidden;

	&.show {
		opacity: 1;
		visibility: visible;
		right: 50px;
	}
}