body {
    font-family: $font;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $fontColor;

    &.lock {
        overflow: hidden;
    }
}

.site__main {
    padding: $size-header-height 0px 0px 0px;

    @media screen and (max-width: 767px) {
		padding: $size-header-height-mobile 0px 0px 0px;
	}
}

.container {
    max-width: $size-container;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width: 992px) {
        padding: 0 30px;
    }
}
