// === Sizes ===
$size-container: 1250px;
$size-layout-desktop: 1440;
$size-header-height: 89px;
$size-header-height-mobile: 52px;

// === Font ===
$fontSize: 16px;
$fontColor: #1D1F22;
$fontWeight: 400;
$font: 'Open Sans';
$fontSecond: 'Mulish', $font;
$lineHeight: 140%;

// === Color ===

