// === Sizes ===
$size-container: 1240px;
$layoutDesktop: 1280;
$layoutMobile: 320;
$size-header-height: 98px;
$size-header-height-mobile: 70px;

// === Font ===
$fontSize: 16px;
$fontColor: #19202b;
$fontWeight: 400;
$font: "Gilroy";
$lineHeight: 120%;

// === Color ===
$Black: #19202b;
$Black_2: #142745;
$White: #fff;
$red: #e62d3c;
$purple: #6a69a9;
$blueDark: #0a0b11;
